.header-container {
    display: flex;
    background-color: var(--primary-color);
    width: 100%;
    text-align: center;
    height: 10rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.headline {
    font-size: 250%;
    font-weight: bolder;
    color: var(--black-color);
    margin-bottom: 1rem;
}

.author {
    font-weight: bold;
    font-size: 150%;
}